<div class="w-full max-w-lg mx-auto mt-12">
  <%= form_with model: @internalp do |i| %>
    <div class="mb-6">
      <%= i.label :title, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= i.text_field :title, class: "shadow-sm border text-sm rounded-md block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 shadow-sm-light", placeholder: "Title" %>
    </div>
    <div class="mb-6">
      <%= i.label :content, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= i.text_area :content, class: "shadow-sm border text-sm rounded-md block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 shadow-sm-light", placeholder: "Content" %>
    </div>
    <div class="mb-6">
      <%= i.label :status, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= i.select :status, Product::STATUS %>
    </div>
    <div class="mb-6">
      <%= i.label :type, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= i.select :ptype, Product::TYPE %>
    </div>
    <div class="mb-6">
      <%= i.label :logo, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= i.file_field :avatar, class: "text-gray-300 text-sm" %>
    </div>
    <div class="mb-6">
      <%= i.label :images, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= i.file_field :images, multiple:true, class: "text-gray-300 text-sm" %>
    </div>
    <div class="mb-6">
      <%= i.label :team, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= i.collection_check_boxes :user_ids, User.all, :id, :name_with_initial do |u| %>
        <div class="collection-check-box items-center w-full px-4 py-1 text-sm transition duration-500 ease-in-out transform rounded-lg focus:shadow-outline hover:bg-gray-900 text-gray-300">
          <%= u.check_box %>
          <%= u.label %>
        </div>
      <% end %>
    </div>
    <%= i.submit "Submit", class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %>
  <% end %>
</div>
