<div class="mt-20 flex items-center space-x-2 overflow-x-auto overflow-y-hidden justify-center flex-nowrap dark:text-gray-100">
  <div class="actions px-8 pt-4 mb-4"><%= link_to "Salary", new_office_salary_path, class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %></div>
</div>
<div class="mt-4 flex items-center space-x-2 overflow-x-auto overflow-y-hidden justify-center flex-nowrap dark:text-gray-100">
  <% @years.each do |u| %>
    <div class="actions px-8 pt-4 mb-4">
      <%= link_to(office_year_path(u), class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500") do %>
        <%= u.name %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="flex justify-center mt-2 mx-auto my-20">
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <div class="min-w-full">
    <table class="w-full text-xs text-gray-500 dark:text-gray-400 text-center">
      <thead class="text-xs uppercase bg-gray-700 text-gray-400">
      <tr>
        <th></th>
        <th colspan="12">Month</th>
        <th></th>
      </tr>
      <tr>
        <th scope="col" class="py-3 px-2">
          Employees
        </th>
        <% @months.each do |u| %>
          <th scope="col" class="py-3 px-6">
            <%= link_to(office_year_month_path(@year, u)) do %>
              <%= u.id %>
            <% end %>
          </th>
        <% end %>
        <th scope="col" class="py-3 px-6">
          Total
        </th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |u| %>
        <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 w-full text-sm text-gray-500">
          <div class=" border-gray-700 min-w-full" >
            <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-white text-left">
              <%= link_to(office_user_salary_path(@year, u)) do %>
                <%= u.name %> <%= u.last_name %>
              <% end %>
            </th>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [1] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [2] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [3] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [4] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [5] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [6] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [7] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [8] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [9] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [10] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [11] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white">
              <% u.salaries.each do |s| %>
                <% if s.month_ids == [12] && s.year_ids == [@year.id] %>
                  <%= s.salary %>
                <% end %>
              <% end %>
            </td>
            <td class="py-4 px-6 text-white font-medium whitespace-nowrap">
              <%= u.salaries.select{|salary| salary.year_ids == [@year.id]}.sum %>
            </td>
          </div>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
