<div class="w-full max-w-lg mx-auto mt-12">
  <%= form_with model: @forum do |f| %>
    <div class="mb-6">
      <%= f.label :title, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= f.text_field :title, class: "shadow-sm border text-sm rounded-md block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 shadow-sm-light", placeholder: "Title" %>
    </div>
    <div class="mb-6">
      <%= f.label :content, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= f.text_area :body, class: "shadow-sm border text-sm rounded-md block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 shadow-sm-light", placeholder: "Content" %>
    </div>
    <div class="mb-6">
      <%= f.label :status, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= f.select :status, Forum::STATUS %>
    </div>
    <div class="mb-6">
      <%= f.label :category, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= f.collection_check_boxes :fforum_ids, Fforum.all,:id,:name do |b| %>
        <div class="collection-check-box items-center w-full px-4 py-1 text-sm transition duration-500 ease-in-out transform rounded-lg focus:shadow-outline hover:bg-gray-900 text-gray-300">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="mb-6">
      <%= f.label :avatar, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= f.file_field :avatar, class: "text-gray-300 text-sm" %>
    </div>
    <div class="mb-6">
      <%= f.label :images, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= f.file_field :images, multiple:true, class: "text-gray-300 text-sm" %>
    </div>
    <%= f.submit "Submit", class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %>
  <% end %>
</div>
