<div class="mt-20 flex items-center space-x-2 overflow-x-auto overflow-y-hidden justify-center flex-nowrap dark:text-gray-100">
  <div class="actions px-8 pt-4 mb-4"><%= link_to "Back", :back, class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %></div>
</div>
<div class="flex justify-center mt-2 mx-auto my-20">
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <div class="min-w-full">
      <table class="w-full text-xs text-gray-500 dark:text-gray-400 text-center">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
        <tr>
          <th colspan="8" class="py-3 px-2"><%= @year.name %> <%= @month.name %></th>
        </tr>
        <tr>
          <th scope="col" class="py-3 px-2">
            Projects
          </th>
          <th scope="col" class="py-3 px-6">
            Employees
          </th>
          <th scope="col" class="py-3 px-6">
            PM
          </th>
          <th scope="col" class="py-3 px-6">
            FD
          </th>
          <th scope="col" class="py-3 px-6">
            WD
          </th>
          <th scope="col" class="py-3 px-6">
            BD
          </th>
          <th scope="col" class="py-3 px-6">
            Total
          </th>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
        <% unless product.status == "passive" && product.invoices.empty? %>
          <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 w-full text-sm text-gray-500">
            <div class=" border-gray-700 min-w-full" >
              <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-white text-left">
                <%= link_to(office_invoices_project_path(@year, @month, product)) do %>
                  <%= product.title %>
                <% end %>
              </th>
              <td class="py-4 text-white">
                <% a = 0 %>
                <% product.invoices.each do |invoice| %>
                  <% if invoice.year_ids == [@year.id] && invoice.month_ids == [@month.id] %>
                    <% a += 1 %>
                  <% end %>
                <% end %>
                <%= a %>
              </td>
              <td class="py-4 text-white">
                <% a = 0 %>
                <% product.invoices.each do |invoice| %>
                  <% if invoice.year_ids == [@year.id] && invoice.month_ids == [@month.id] %>
                    <% invoice.users.each do |user| %>
                      <% if user.role == "Project Manager" %>
                        <% a += 1 %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= a %>
              </td>
              <td class="py-4 text-white">
                <% a = 0 %>
                <% product.invoices.each do |invoice| %>
                  <% if invoice.year_ids == [@year.id] && invoice.month_ids == [@month.id] %>
                    <% invoice.users.each do |user| %>
                      <% if user.role == "Front-end Developer" %>
                        <% a += 1 %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= a %>
              </td>
              <td class="py-4 text-white">
                <% a = 0 %>
                <% product.invoices.each do |invoice| %>
                  <% if invoice.year_ids == [@year.id] && invoice.month_ids == [@month.id] %>
                    <% invoice.users.each do |user| %>
                      <% if user.role == "Web Designer" %>
                        <% a += 1 %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= a %>
              </td>
              <td class="py-4 text-white">
                <% a = 0 %>
                <% product.invoices.each do |invoice| %>
                  <% if invoice.year_ids == [@year.id] && invoice.month_ids == [@month.id] %>
                    <% invoice.users.each do |user| %>
                      <% if user.role == "Back-end Developer" %>
                        <% a += 1 %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= a %>
              </td>
              <td class="py-4 text-white">
                <% a = 0 %>
                <% product.invoices.each do |invoice| %>
                  <% if invoice.year_ids == [@year.id] && invoice.month_ids == [@month.id] %>
                    <% a += invoice.rate * invoice.time %>
                  <% end %>
                <% end %>
                <%= a %>
              </td>
            </div>
          </tr>
        <% end %>
        <% end %>
        <tr>
          <th colspan="6" class="text-sm py-4 px-6 font-bold whitespace-nowrap text-white text-left">
            Total
          </th>
          <td class="py-4 text-white font-bold text-sm">
            <% a = 0 %>
            <% @invoices.each do |invoice| %>
              <% if invoice.year_ids == [@year.id] && invoice.month_ids == [@month.id] %>
                <% a += invoice.rate * invoice.time %>
              <% end %>
            <% end %>
            <%= a %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
