<div class="mt-20 flex items-center space-x-2 overflow-x-auto overflow-y-hidden justify-center flex-nowrap dark:text-gray-100">
  <div class="actions px-8 pt-4 mb-4"><%= link_to "Invoice", new_office_invoice_path, class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %></div>
</div>
<div class="mt-4 flex items-center space-x-2 overflow-x-auto overflow-y-hidden justify-center flex-nowrap dark:text-gray-100">
  <% @years.each do |year| %>
    <div class="actions px-8 pt-4 mb-4">
      <%= link_to(office_invoices_year_path(year), class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500") do %>
        <%= year.name %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="flex justify-center mt-2 mx-auto my-20">
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <div class="min-w-full">
      <table class="w-full text-xs text-gray-500 dark:text-gray-400 text-center">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
        <tr>
          <th></th>
          <th></th>
          <th colspan="12" class="py-3 px-2">Month</th>
          <th></th>
        </tr>
        <tr>
          <th scope="col" class="py-3 px-2">
            Projects
          </th>
          <th scope="col" class="py-3 px-2">
            Employees
          </th>
          <% @months.each do |month| %>
            <th scope="col" class="py-3 px-6">
              <%= link_to(office_invoices_month_path(@year, month)) do %>
                <%= month.id %>
              <% end %>
            </th>
          <% end %>
          <th scope="col" class="py-3 px-6">
            Total
          </th>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <% unless product.status == "passive" && product.invoices.empty? %>
            <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 w-full text-sm text-gray-500">
              <div class=" border-gray-700 min-w-full" >
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-white text-left">
                  <%= product.title %>
                </th>
                <td class="py-4 text-white">
                  <%= product.user_ids.size %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [1] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [2] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [3] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [4] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [5] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [6] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [7] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [8] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [9] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [10] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [11] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] && invoice.month_ids == [12] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
                <td class="py-4 text-white font-medium whitespace-nowrap">
                  <% a = 0 %>
                  <% product.invoices.each do |invoice| %>
                    <% if invoice.year_ids == [@year.id] %>
                      <% a += invoice.rate * invoice.time %>
                    <% end %>
                  <% end %>
                  <%= a %>
                </td>
              </div>
            </tr>
          <% end %>
        <% end %>
        <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 w-full text-sm text-gray-500">
          <th colspan="14" class="py-4 px-6 font-medium whitespace-nowrap text-white text-left">
            Total
          </th>
          <td class="py-4 text-white font-medium">
            <% a = 0 %>
            <% @invoices.each do |invoice| %>
              <% if invoice.year_ids == [@year.id] %>
                <% a += invoice.rate * invoice.time %>
              <% end %>
            <% end %>
            <%= a %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>