<div class="w-full max-w-lg mx-auto mt-12">
  <%= form_with model: @salary do |form| %>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 mb-6 w-full group">
        <%= form.label :year, class: "block mb-2 text-sm font-medium text-gray-300" %>
        <%= form.collection_check_boxes :year_ids, Year.all, :id, :name do |year| %>
          <div class="collection-check-box items-center w-full px-4 py-1 text-sm transition duration-500 ease-in-out transform rounded-lg focus:shadow-outline hover:bg-gray-900 text-gray-300">
            <%= year.check_box %>
            <%= year.label %>
          </div>
        <% end %>
      </div>
      <div class="relative z-0 mb-6 w-full group">
        <%= form.label :month, class: "block mb-2 text-sm font-medium text-gray-300" %>
        <%= form.collection_check_boxes :month_ids, Month.all, :id, :name do |month| %>
          <div class="collection-check-box items-center w-full px-4 py-1 text-sm transition duration-500 ease-in-out transform rounded-lg focus:shadow-outline hover:bg-gray-900 text-gray-300">
            <%= month.check_box %>
            <%= month.label %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mb-6">
      <%= form.label :salary, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= form.text_field :salary, class: "shadow-sm border text-sm rounded-md block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 shadow-sm-light", placeholder: "Salary" %>
    </div>
    <div class="mb-6">
      <%= form.label :team, class: "block mb-2 text-sm font-medium text-gray-300" %>
      <%= form.collection_check_boxes :user_ids, User.all.where.not(work_group: 'User'), :id, :name_with_initial do |user| %>
        <div class="collection-check-box items-center w-full px-4 py-1 text-sm transition duration-500 ease-in-out transform rounded-lg focus:shadow-outline hover:bg-gray-900 text-gray-300">
          <%= user.check_box %>
          <%= user.label %>
        </div>
      <% end %>
    </div>
    <%= form.submit "Submit", class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %>
  <% end %>
</div>