<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div class="bg-gray-800">

  <div class="container mx-auto my-5 p-5">
    <div class="md:flex no-wrap md:-mx-2 ">
      <div class="w-full md:w-3/12 md:mx-2">
        <div class="rounded-lg bg-gray-700 p-3 border-t-4 border-blue-500">
          <div class="image overflow-hidden">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class:"h-auto w-full mx-auto rounded-lg" %>
            <% else %>
              <img class="h-auto w-full mx-auto rounded-lg"
                   src="https://lavinephotography.com.au/wp-content/uploads/2017/01/PROFILE-Photography-112.jpg"
                   alt="">
            <% end %>
          </div>
          <h1 class="text-white font-bold text-xl leading-8 my-1"><%= @user.name %> <%= @user.last_name %></h1>
          <h3 class="text-gray-200 font-lg text-semibold leading-6"><%= @user.role %></h3>
          <p class="text-sm text-gray-400"><%= @user.about %></p>
        </div>
        <div class="my-4"></div>
        <% unless @user.skills.empty? %>
        <div class="rounded-lg bg-gray-700 p-3">
          <div class="flex items-center space-x-3 font-semibold text-gray-900 leading-8">
                        <span class="text-blue-500">
                            <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                            </svg>
                        </span>
            <span class="tracking-wide text-blue-500 text-xl">Skills</span>
          </div>
          <div class="flex mt-4">
              <div class="text-center my-2">
            <% @user.skills.each do |u| %>
                  <span class="bg-blue-300 text-blue-800 font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800"><%= u.name %></span>
            <% end %>
              </div>
          </div>
        </div>
        <% end %>
        <div class="my-4"></div>
        <% unless @user.hobbies.empty? %>
        <div class="rounded-lg bg-gray-700 p-3">
          <div class="flex items-center space-x-3 font-semibold text-gray-900 leading-8">
            <span class="text-blue-500">
                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
            </span>
            <span class="tracking-wide text-blue-500 text-xl">Hobbies</span>
          </div>
          <div class="flex mt-4">
            <div class="text-center my-2">
              <% @user.hobbies.each do |u| %>
                <span class="bg-green-300 text-green-800 font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800"><%= u.name %></span>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="my-4"></div>
        <% unless @user.languages.empty? %>
        <div class="rounded-lg bg-gray-700 p-3">
          <div class="flex items-center space-x-3 font-semibold text-gray-900 leading-8">
            <span class="text-blue-500">
                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
            </span>
            <span class="tracking-wide text-blue-500 text-xl">Languages</span>
          </div>
          <div class="flex mt-4">
            <div class="text-center my-2">
              <% @user.languages.each do |u| %>
                <span class="bg-yellow-300 text-yellow-800 font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800"><%= u.name %></span>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="w-full md:w-9/12 mx-2 h-64">
        <div class="rounded-lg bg-gray-700 p-3 shadow-sm">
          <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
            <span class="text-blue-500">
                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
            </span>
            <span class="tracking-wide text-blue-500 text-xl">About</span>
          </div>
          <div class="text-gray-700">
            <div class="grid md:grid-cols-2 text-sm">
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">First Name</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.name %></div>
              </div>
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">Last Name</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.last_name %></div>
              </div>
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">Gender</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.gender %></div>
              </div>
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">Contact No.</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.phone %></div>
              </div>
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">Role</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.role %></div>
              </div>
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">Level</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.level %></div>
              </div>
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">Email</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.email %></div>
              </div>
              <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-white">Birthday</div>
                <div class="px-4 py-2 text-gray-300"><%= @user.birthday %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-4"></div>
        <% unless @user.products.empty? %>
        <div class="bg-gray-700 p-3 shadow-sm rounded-lg">
          <div class="grid grid-cols-2">
            <div>
              <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                <span class="text-blue-500">
                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                </span>
                <span class="tracking-wide text-blue-500 text-xl">Active Projects</span>
              </div>
              <ul class="list-inside space-y-2 text-gray-300">
                <% @user.products.each do |u| %>
                  <% if u.status == "active" %>
                    <li>
                      <div>
                        <%= u.title %>
                      </div>
                      <div class="text-xs text-gray-500">
                        <%= u.ptype %>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div>
              <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                <span class="text-blue-500">
                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                </span>
                <span class="tracking-wide text-blue-500 text-xl">Passive Projects</span>
              </div>
              <ul class="list-inside space-y-2 text-gray-300">
                <% @user.products.each do |u| %>
                  <% if u.status == "passive" %>
                    <li>
                      <div>
                        <%= u.title %>
                      </div>
                      <div class="text-xs text-gray-500">
                        <%= u.ptype %>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
