<div class="mt-20 flex items-center space-x-2 overflow-x-auto overflow-y-hidden justify-center flex-nowrap dark:text-gray-100">
  <div class="actions px-8 pt-4 mb-4"><%= link_to "Back", :back, class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %></div>
</div>
<div class="flex justify-center mt-2 mx-auto">
  <div class="overflow-x-auto relative">
    <div class="mt-10 flex space-x-2 overflow-x-auto overflow-y-hidden justify-left text-gray-100 font-medium uppercase">
      <%= @user.name %>
      <%= @user.last_name %>
    </div>
    <div class="mt-2 space-x-2 overflow-x-auto overflow-y-hidden justify-left text-gray-100 text-sm">
      <%= @user.role %>
    </div>
    <div class="mb-4 space-x-2 overflow-x-auto overflow-y-hidden justify-left text-gray-100 text-sm">
      <%= @user.level %>
    </div>
    <div class="min-w-full overflow-x-auto relative shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-gray-500 dark:text-gray-400 text-center">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
        <tr>
          <th class="py-3 px-2"><%= @year.name %></th>
          <th colspan="12" class="py-3 px-2">Month</th>
          <th></th>
        </tr>
        <tr>
          <th scope="col" class="py-3 px-6">
            Type
          </th>
          <% @months.each do |u| %>
            <th scope="col" class="py-3 px-6">
              <%= u.id %>
            </th>
          <% end %>
          <th scope="col" class="py-3 px-6">
            Total
          </th>
        </tr>
        </thead>
        <tbody>
          <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 w-full text-sm text-gray-500">
            <div class=" border-gray-700 min-w-full" >
              <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-white text-left">
                Salary
              </th>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [1] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [2] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [3] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [4] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [5] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [6] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [7] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [8] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [9] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [10] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [11] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 text-white">
                <% @user.salaries.each do |s| %>
                  <% if s.month_ids == [12] && s.year_ids == [@year.id] %>
                    <%= s.salary %>
                  <% end %>
                <% end %>
              </td>
              <td class="py-4 px-6 text-white font-medium whitespace-nowrap">
                <% a = 0 %>
                <% @salaries.each do |s| %>
                  <% if s.year_ids == [@year.id] && s.user_ids.include?(@user.id) %>
                    <% a += s.salary %>
                  <% end %>
                <% end %>
                <%= a %>
              </td>
            </div>
          </tr>
          <% @user.products.each do |u| %>
            <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 w-full text-sm text-gray-500">
              <div class=" border-gray-700 min-w-full" >
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-white text-left">
                  <%= u.title %>
                </th>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>